.input {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.input__field {
    font-size: 20px;
    padding: 0 5px;
    max-width: 565px;
    width: 100%;
    display: inline-block;
    height: 41px;
    border-radius: 10px;
    transition: var(--transition);
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.input__field:hover {
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.input__field:focus {
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.input__add-btn {
    margin-right: 15px;
}

.input__add-btn, .input__clear-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 15px;
    transition: var(--transition);
    background-color: rgb(233 238 231);
}


.input__add-btn:hover, .input__clear-btn:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.input__add-btn:active, .input__clear-btn:active {
    transform: translateY(1px);
}