:root{
    --text-color: blanchedalmond;
    --bg-color: #98895e;
    --box-shadow: 0px 0px 10px 5px rgba(119, 99, 51, 0.2);
    --dark-theme-color: #9d998e;
    --border: 2px solid rgba(200, 255, 203, 1);
    --transition: all .2s;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    
    font-size: 14px;
    user-select: none;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    font-family: 'Alegreya', serif;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    height: 100vh;
    padding: 25px 0;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    transition: var(--transition);
}

.container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 25px 15px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgb(80 66 34 / 20%);
}

.wrapper.dark-theme {
    color: var(--text-color);
    background-color: #09161c;
    transition: var(--transition);
}

.wrapper.dark-theme > .container {
    background-color: rgba(255,255,255,.1);
}

.wrapper.dark-theme .header__title {
    color: #493eff;
}

.wrapper.dark-theme .input__field {
    background-color: var(--dark-theme-color);
}

.wrapper.dark-theme .input__field:hover,
.wrapper.dark-theme .input__field:focus {
    box-shadow: 0px 0px 10px 5px rgb(255 180 0 / 20%);
}

.wrapper.dark-theme button {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper.dark-theme .tasks-list__del-btn {
    background-color: white;
}

.wrapper.dark-theme .nav-row__btn--active{
    background-color: rgb(172 105 22);
    box-shadow: 0px 0px 10px 5px rgba(170, 141, 74, 0.2);
}

.wrapper.dark-theme .task-hot {
    background-color: #4f3930;
}

.wrapper.dark-theme  hr {
    border: 1px solid var(--dark-theme-color);
}

.wrapper.dark-theme textarea {
    background-color: var(--dark-theme-color);
}

.btn-to-preview-page {
    position: absolute;
    left: -10%;
    top: 45%;
    font-size: 22px;
    color: black;
    transition: var(--transition);
}

.btn-to-preview-page:hover {
    transform: translateY(-2px);
    letter-spacing: 1px;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.btn-to-preview-page:active {
    transform: translateY(0px);
}

.wrapper.dark-theme .btn-to-preview-page {
    color: var(--text-color);
}