.nav-row {
    margin-bottom: 40px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.nav-row__btn {
    min-height: 40px;
    height: 100%;
    display: block;
    flex: 0 1 33%;
    border-radius: 10px;
    font-size: 25px;
    transition: all .2s;
    border: 2px solid rgb(131, 123, 123);
    background-color: rgb(233 238 231);
}

.nav-row__btn:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.nav-row__btn:active {
    transform: translateY(0px);
}

.nav-row__btn--active {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow);
    background-color:  rgb(204 255 175);
}