.task-done > label, .task-done> .tasks-list__edit-btn {
    display: none;
}

.task-done> .tasks-list__title {
    text-decoration: line-through;
    margin: 0;
}

.tasks-list__title {
    margin: 0 20px 0 20px;
    display: inline-block;
    max-width: 200px;
    width: 100%;
}

.tasks-list__del-btn {
    margin-left: 20px;
}

.tasks-list__edit-box {
    max-height: 0;
    transition: .1s ease-in-out;
}

.tasks-list__edit-box > textarea, .tasks-list__edit-box > button {
    overflow: hidden;
    max-height: inherit;
}

.tasks-list__edit-box > textarea {
    border: 0;
}

.tasks-list__edit-box--active {
    max-height: 100px;
}

.tasks-list__edit-box--active > textarea {
    border: 1px solid black;
}

